{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche {% endblock %}

{% block body %}
{# exo : remplacer les ... par le mot qui a été tapé ds la barre de recherche  #}
    <h2>Résultat de la recherche de <code> {{mot}} </code> </h2>
    <div class="card-columns">
        {% for livre in livres %}
            {% include "livre/vignette.html.twig"%}
        {% endfor %}
    </div>

{% endblock %}
